POSTGRES_DB=verilog
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

NEO4J_USER=neo4j
NEO4J_PASSWORD=neo4jpassword

VERILOG_ROOT=D:/MyWork/verilog
DB_ROOT=D:/MyWork/verilog/dbs
OUT_ROOT=D:/MyWork/verilog/out
